:root {
  --main-bg-color: #ffffff;
  --main-text-color: #2e2f42;
  --main-nav-color: #4d5ae5;
  --main-hover-color: #404bbf;
  --main-p-color: #434455;
  --main-p-bottom-color: #f4f4fd;
  --top-line-color: #e7e9fc;
  --icon-hover-green: #31d0aa;
  --customers-border: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --input-color: rgba(46, 47, 66, 0.2);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 16px;
}
.web {
  color: var(--main-nav-color);
}

.nav-links {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 24px 0;
  transition: color var(--transition);
}
.list {
  list-style: none;
}
.header {
  border-bottom: 1px solid var(--top-line-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.hero-btn {
  background-color: var(--main-nav-color);
  color: var(--main-bg-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color var(--transition);
}
.hero-title {
  width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
  color: var(--main-bg-color);
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
}
.hero {
  background-color: var(--main-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.footer {
  background-color: var(--main-text-color);
}

.nav-links:hover,
.nav-links:focus {
  color: var(--main-hover-color);
}
.hero .hero-btn:hover,
.hero-btn:focus {
  background: var(--main-hover-color);
}

.feature-icon-bg {
  background-color: var(--main-p-bottom-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.feature-text {
  line-height: 1.5;
  color: var(--main-p-color);
  letter-spacing: 0.02em;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.feature {
  width: 264px;
}
.feature:not(:last-child) {
  margin-right: 24px;
}
.feature-flex {
  display: flex;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-text-color);
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 72px;
}
.about-flex {
  display: flex;
}
.about-img:not(:last-child) {
  margin-right: 24px;
}
.team {
  background: var(--main-p-bottom-color);
}
.team-card {
  background: var(--main-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}
.team-flex {
  display: flex;
}
.card-content {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.social {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-p-bottom-color);
  transition: background-color var(--transition);
}
.social-list-icon:hover,
.social-list-icon:focus {
  background-color: var(--main-hover-color);
}
.social-footer {
  display: flex;
  gap: 16px;
}
.social-list-footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-p-bottom-color);
  transition: background-color var(--transition);
}
.social-list-footer-icon:hover,
.social-list-footer-icon:focus {
  background-color: var(--icon-hover-green);
}

.subscribe {
  margin-left: auto;
}
.social-media {
  margin-left: 120px;
}
.social-text {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-bottom-color);
  font-weight: 500;
}
.card-content-portfolio {
  padding: 32px 16px 32px 16px;
  border: 1px solid var(--top-line-color);
  border-top: none;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-list-icon {
  fill: var(--customers-border);
  transition: fill var(--transition);
}
.customers-list-link {
  display: flex;
  padding: 16px 32px;
  border: 1px solid var(--customers-border);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--transition);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--main-hover-color);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--main-hover-color);
}
.studio-bottom {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--main-p-bottom-color);
}
.footer {
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  margin-right: 76px;
  display: block;
}
.footer-flex {
  display: flex;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-bottom-color);
  width: 264px;
  padding-top: 16px;
}
.footer-form {
  display: flex;
}
.footer-input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  min-width: 264px;
  color: white;
  padding: 8px 16px;
  outline: transparent;
  transition: border var(--transition);
}
.footer-input:focus {
  border: 1px solid var(--main-nav-color);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
}
.footer-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 24px;
  transition: background-color var(--transition);
}
.footer-btn > svg {
  vertical-align: middle;
  margin-left: 16px;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--main-hover-color);
}
.nav-links-contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-color);
  text-decoration: none;
  padding: 24px 0;
  transition: color var(--transition);
}
.contacts {
  margin-left: auto;
}
.nav-links-contacts:hover,
.nav-links-contacts:focus {
  color: var(--main-hover-color);
}
.button-list {
  list-style-type: none;
}
.btn-list-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-btn {
  background: var(--main-p-bottom-color);
  border: 1px solid var(--top-line-color);
  border-radius: 4px;
  color: var(--main-nav-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition), border var(--transition);
}
.button-list .portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--main-hover-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  outline: transparent;
}
.img-list-flex {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.card-portfolio {
  width: 360px;
}
.card-portfolio-link:focus,
.card-portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  outline: transparent;
}
.card-portfolio-link:focus .overlay,
.card-portfolio-link:hover .overlay {
  transform: translateY(0);
}
.card-portfolio-link {
  text-decoration: none;
  color: var(--main-text-color);
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio-list {
  padding-bottom: 120px;
  padding-top: 96px;
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 24px 0;
  margin-right: 76px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-color);
}
.team-card:not(:last-child) {
  margin-right: 24px;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.about {
  padding-top: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.menu-nav {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation li {
  margin-right: 40px;
}
.navigation li:last-child {
  margin-right: 0;
}
.current {
  position: relative;
  color: var(--main-hover-color);
}
.current::after {
  position: absolute;
  bottom: -2px;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-hover-color);
  border-radius: 2px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--transition);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  padding: 0 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  width: 100%;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* animation: open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards; */
  transition: transform var(--transition);
}
.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--main-text-color);
}
.modal-form {
  min-width: 360px;
}
.modal-group:not(:last-child) {
  margin-bottom: 8px;
}
.modal-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-item {
  height: 40px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--customers-border);
}
.form-input {
  padding-left: 35px;
  border: 1px solid var(--input-color);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--transition);
}

.form-input:focus {
  border: 1px solid var(--main-nav-color);
}
.form-input:focus + .modal-svg {
  fill: var(--main-nav-color);
}

.modal-svg {
  position: absolute;
  top: 8px;
  left: 16px;
  transition: fill var(--transition);
}
.form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.form-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-border);
  user-select: none;
}
.form-btn {
  display: block;
  padding: 16px 65px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--main-nav-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--main-hover-color);
}
.form-custom-checkbox {
  cursor: pointer;
}
.form-checkbox:checked + .form-custom-checkbox > .checked {
  opacity: 1;
}
.form-checkbox:checked + .form-custom-checkbox > .unchecked {
  opacity: 0;
}
.checked {
  opacity: 0;
  transition: opacity var(--transition);
}
.unchecked {
  opacity: 1;
  transition: opacity var(--transition);
}
.form-link {
  text-decoration: underline;
  color: var(--main-nav-color);
}
.form-comment {
  height: 120px;
  resize: none;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid var(--input-color);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--transition);
}
.form-comment:focus {
  border: 1px solid var(--main-nav-color);
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close-button {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 8px;
  background-color: var(--top-line-color);
  transition: background-color var(--transition);
}
.close-svg {
  transition: fill var(--transition);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--main-nav-color);
}
.close-button:hover .close-svg,
.close-button:focus .close-svg {
  fill: white;
}

/* @keyframes open {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
} */
.card-portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--main-nav-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-p-bottom-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
